/n/projects/tfording/a_inornata/bin/AspGul_1.0.fasta
/n/projects/tfording/a_inornata/bin/gm_et_linux_64
/n/projects/tfording/a_inornata/bin/gm_et_linux_64.tar.gz
/n/projects/tfording/a_inornata/bin/RepeatMasker
/n/projects/tfording/a_inornata/bin/RepeatMaster-open-4-0-5.tar
/n/projects/tfording/a_inornata/bin/signal-4.1f.Linux.tar.gz
